# Python
.venv/
__pycache__/
*.pyc

# Docker runtime data
zwave-stack/store/
store/

# secrets / runtime state
*.secret
*.db
*.sqlite

# OS
.DS_Store

# External tools
fast-downward/

# Generated planner files
planner/problem.pddl
planner/generated_plan.txt
zwave-stack/store*/
zwave-stack/logs/
